body {
    background-color: blueviolet;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

/** LOGOS DO SITE **/
#logos{
    position: relative;
    width: 1000px;
    height:390px;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 20px;  
}
.logo1{
    position: relative;
    text-align: center;
    width: 500px;
    height: 350px;  
    margin: 0px auto;
    margin-right: auto;
    margin-left: -1px;
    margin-bottom: -366px;
    background-color: white;
    border: 3px solid #5C1B5D; 
    padding-top: 10px;
} 

.logo2{
    position: relative;
    text-align: center;
    width: 500px;
    height: 350px;  
    margin: 0px;
    margin-right: -1px;
    margin-left: auto;
    margin-bottom: 60px;
    background-color: #EEC9FF;
    border: 3px solid #5C1B5D; 
    padding-top: 10px;
}

/** APRESENTAÇÃO DAS ODS **/
#apresentacaoODS{
    position: relative;
    width: 1280px;
    height: 200px;
}

.textoInicialODS{
    position: relative;
    font-size: 30px;
    text-align: center;
}


